@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-flex" }))
  {
    @Html.AntiForgeryToken()

    <div class="me-2">
      @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </div>
    <button class="btn btn-outline-danger" type="button" onclick="javascript:document.getElementById('logoutForm').submit()"></button>
  }
}
else
{
  <div class="text-end">
    <button type="button" class="btn btn-outline-light me-2">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</button>
    <button type="button" class="btn btn-warning">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button>
  </div>
}
