@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "d-flex" }))
  {
    @Html.AntiForgeryToken()

    <div class="text-end">
      @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "px-2 text-primary text-decoration-none" })
      <button class="btn btn-outline-danger" type="button" onclick="javascript:document.getElementById('logoutForm').submit()">Log Out</button>
    </div>
  }
}
else
{
<div class="text-end">
    <button type="button" class="btn btn-outline-light me-2" id="loginLink" onclick="location.href='@Url.Action("Login", "Account", routeValues: null)'">Log In</button>
    <button type="button" class="btn btn-warning" id="registerLink" onclick="location.href='@Url.Action("Register", "Account", routeValues: null)'">Sign Up</button>
</div>
}
