
@{
    ViewBag.Title = "FinishRegistration";
}

<div class="well">
    <h2>Finish Registration</h2>
    Please @Html.ActionLink("Complete the Registration Process", "Create", "Employees") for this application by clicking the link.
</div>