@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1020 Dennison Ave<br />
    Columbus, OH 43201<br />
    <abbr title="Phone">P:</abbr>
    614.205.8112
</address>

<address>
    <strong>Support:</strong>   <a href="https://centricconsulting.com/contact/">Contact Centric</a><br />
</address>
<strong>Instagram:</strong>   <a href="https://www.instagram.com/centricconsulting/?hl=en">&commat;centricconsulting</a>
<br />
<strong>Twitter:</strong>   <a href="https://twitter.com/centric">&commat;centric</a>
<br />
<strong>Facebook:</strong>   <a href="https://www.facebook.com/CentricConsultingNational/">Centric Consulting On Facebook</a>
<br />
<strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/company/centric-consulting">Centric Consulting On LinkedIn</a>
<br />