@{
    ViewBag.Title = "Centric's Values";
}

<div class="container p-3 bg-light rounded-3">
    <div class="container-fluid py-5">
            <h1 class="display-5 fw-normal">Centric's Values</h1>
            <p class="col-md-8 fs-4 text-muted">We’ve always done things a little differently at Centric</p>
    </div>
</div>



<!--
<div class="container col-xxl-8 px-4 py-5">
    <h1 class="display-5 fw-bold lh-1 mb-3 text-center">Centric's Values</h1>
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" class="d-block mx-lg-auto img-fluid" alt="" width="700" height="500" loading="lazy" />
        </div>
        <div class="col-lg-6">

            <p class="lead">We’ve always done things a little differently at Centric Consulting.</p>
            <h4>Enjoy the people you work with, have fun, and do great work.</h4>

            <p>Not only do these blocks serve as our model for consulting, but they’ve created a culture that values team unity and collaboration. We enjoy working together, alongside you, to create personalized solutions for your business</p>
            <p>Learn more about who we are, what to expect when working with us, the core values that define us, and the leaders who shape us…</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
            </div>
        </div>
    </div>
</div>
-->
<div id="valuesCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#valuesCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#valuesCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#valuesCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#valuesCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#valuesCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#valuesCarousel" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#valuesCarousel" data-bs-slide-to="6" aria-label="Slide 7"></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" class="d-block w-100" alt="" />
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Commit to Delivery Excellence</h1>
                    <p>We have a passion for consulting excellence. In all of our projects, we strive to first<br>understand your needs and then deliver on our commitments 100 percent of the time.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" class="d-block w-100" alt="" />
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Practice Responsible Stewardship</h1>
                    <p>We value stewardship and fiscal accountability and always strive to do more with less.<br /> We guard and conserve company resources as if they were our own because<br /> it makes good business sense at all times, not just during lean times.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" class="d-block w-100" alt="" />
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Invest in an Exceptional Culture</h1>
                    <p>We aim to hire and retain talented people from diverse backgrounds who can create a<br /> high impact for our clients and internally within our company.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" class="d-block w-100" alt="" />
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Ignite Passion for the greater good</h1>
                    <p>We take pride in our commitment to improving the world in which we live and actively preserving<br /> our environment for future generations. We are steadfast in our devotion to the communities<br /> we serve and actively promote employee involvement in community improvement projects.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" class="d-block w-100" alt="" />
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Strive to Innovate</h1>
                    <p>We value passion, determination, perseverance, and innovation.<br /> We are inspired because we believe in what we are doing and where we are going.<br /> We believe in using innovation to remove obstacles and help you succeed.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" class="d-block w-100" alt="" />
            <div class="container">
                <div class="carousel-caption d-none d-md-block">
                    <h1>Live a Balanced Life</h1>
                    <p>Our employees are our greatest asset. Because of that, we encourage our <br />people to strive for balance in their life, and we monitor projects<br /> to ensure our employees have time for family, community and personal interests.</p>
                </div>
            </div>
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#valuesCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>

    <button class="carousel-control-next" type="button" data-bs-target="#valuesCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!--

<div>
    <br />
    <br />
    <br />

    <center><h1>@ViewBag.Title</h1></center>
    <br />
</div>
    <br />

<div>
    <h3>We’ve always done things a little differently at Centric Consulting</h3>
    <p>We didn’t start in a conference room. Instead, we started on a couch. And we’ve grown our business on a set of three building blocks:<p>
        <br />
        <h4>Enjoy the people you work with, have fun, and do great work.</h4>
        <br />
    <p>Not only do these blocks serve as our model for consulting, but they’ve created a culture that values team unity and collaboration. We enjoy working together, alongside you, to create personalized solutions for your business</p>
    <p>Learn more about who we are, what to expect when working with us, the core values that define us, and the leaders who shape us…</p>
</div>

<div>
    <img width="500" src="https://go.centricconsulting.com/rs/061-ZGF-776/images/IAP_Ebook_Mkto_OG.jpg" alt="Picture of Centric Consulting Office" />
    <br />
    <br />
</div>

<h2>Our Core Values</h2>
<div id="myCarousel" style="height:225px;" class="carousel slide text-center" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active" style="background-color:grey;"></li>
        <li data-target="#myCarousel" data-slide-to="1" style="background-color:grey;"></li>
        <li data-target="#myCarousel" data-slide-to="2" style="background-color:grey;"></li>
        <li data-target="#myCarousel" data-slide-to="3" style="background-color:grey;"></li>
        <li data-target="#myCarousel" data-slide-to="4" style="background-color:grey;"></li>
        <li data-target="#myCarousel" data-slide-to="5" style="background-color:grey;"></li>
        <li data-target="#myCarousel" data-slide-to="6" style="background-color:grey;"></li>
    </ol>


    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <h3>Commit to Delivery Excellence</h3><br><h4><span style="font-style:normal;">We have a passion for consulting excellence. In all of our projects, we strive to first<br>understand your needs and then deliver on our commitments 100 percent of the time.</span></h4>
        </div>
        <div class="item">
            <h3>Embrace Integrity and Openness</h3><br><h4><span style="font-style:normal;">We value strong, positive relationships that<br /> are open and honest. This differentiates us and allows<br /> us to accomplish much more than we would be able to otherwise.</span></h4>
        </div>
        <div class="item">
            <h3>Practice Responsible Stewardship</h3><br><h4><span style="font-style:normal;">We value stewardship and fiscal accountability and always strive to do more with less.<br /> We guard and conserve company resources as if they were our own because<br /> it makes good business sense at all times, not just during lean times.</span></h4>
        </div>
        <div class="item">
            <h3>Invest in an Exceptional Culture</h3><br><h4><span style="font-style:normal;">We aim to hire and retain talented people from diverse backgrounds who can create a<br /> high impact for our clients and internally within our company.</span></h4>
        </div>
        <div class="item">
            <h3>Ignite Passion for the greater good</h3><br><h4><span style="font-style:normal;">We take pride in our commitment to improving the world in which we live and actively preserving<br /> our environment for future generations. We are steadfast in our devotion to the communities<br /> we serve and actively promote employee involvement in community improvement projects.</span></h4>
        </div>
        <div class="item">
            <h3>Strive to Innovate</h3><br><h4><span style="font-style:normal;">We value passion, determination, perseverance, and innovation.<br /> We are inspired because we believe in what we are doing and where we are going.<br /> We believe in using innovation to remove obstacles and help you succeed.</span></h4>
        </div>
        <div class="item">
            <h3>Live a Balanced Life</h3><br><h4><span style="font-style:normal;">Our employees are our greatest asset. Because of that, we encourage our <br />people to strive for balance in their life, and we monitor projects<br /> to ensure our employees have time for family, community and personal interests.</span></h4>
        </div>
    </div>

<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>
</div>




-->



