@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" >
    <div class="container">

    <h1 style="color: black;">eCentric</h1>
    <p class="lead" style="color: black;">Centric Consulting guides in the search for answers to complex digital, business and technology problems by asking tough questions, leading crucial conversations and blending our experts with yours.</p>
    <a href="https://centricconsulting.com/" class="btn btn-primary btn-lg" style="color:white ; background-color: #150c2c;">Learn more &raquo;</a>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Getting started</h2>
        <p>
            Together we evolve and transform your business from the people to the processes.
        </p>
        <p><a class="btn btn-default" style="background-color:#ffb612" href="https://centricconsulting.com/business-consulting/">Business Consulting &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Technology</h2>
        <p>Together we plan, build and deliver technology to solve your business challenges.</p>
        <p><a class="btn btn-default" style="background-color:#ffb612" href="https://centricconsulting.com/technology-solutions/">Technology Solutions &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Digital</h2>
        <p>Together we define your digital strategy, design your customer experience and make marketing work.</p>
        <p><a class="btn btn-default" style="background-color:#ffb612" href="https://centricconsulting.com/digital-consulting-services/">Digital Consulting &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Industries</h2>
        <p>We bring industry expertise to solve your business and technology needs.</p>
        <p><a class="btn btn-default" style="background-color:#ffb612" href="https://centricconsulting.com/industries/">Industries &raquo;</a></p>
    </div>
</div>