@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>eCentric</h1>
    <p class="lead">Centric Consulting guides in the search for answers to complex digital, business and technology problems by asking tough questions, leading crucial conversations and blending our experts with yours.</p>
    <p><a href="https://centricconsulting.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Centric offers consulting in a vast array of areas such as business strategy, operational and process excellence, people and change, and enterprise portfolio management.
        </p>
        <p><a class="btn btn-default" href="https://centricconsulting.com/business-consulting/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>